<div class="row top">

<div class="col-md-12 pic"><%= image_tag current_user.image, class: "img-circle", size: "200x200"%></div>
  <div class="name col-md-12"><%= current_user.nickname %>
    <h4>>>>>><<<<<</h4>
</div>


<div class="bio col-md-12">
  <span><h3><%= current_user.user.full_name %></h3> <%= current_user.user.bio %></span><br>
</div>

<div class="col-md-4"></div>
</div>

<div class="row-border col-md-12"></div>
<h1>NEED IMAGES - NEED TO BE ABLE TO ADD IMAGE - PHOTO EDITOR</h1>

  <% @pictures.each do |pic| %>
    <%= image_tag pic.image_url %>
    <%= link_to "Delete", picture_path(pic), method: :delete, data: {confirm: "Really delete the article?"} %>
  <% end %>

<!-- <div class="row top">
  <% current_user.recent_media.each do |h| %>
<div class="col-md-4 post-pics">
  <%= image_tag h.images.low_resolution.url %>
</div>
  <% end %>
</div> -->
