

<h1>jsdlkjfldksjflkdsjlfkdjs</h1>
<div class="row">
<div class="feed">

<% current_user.media.each do |h| %>
  <% if h.caption %>
    <p><%= h.caption.from.username%></p>
    <%= h.caption.from.full_name %><br>
    <%= image_tag h.caption.from.profile_picture, class: "img-circle" %>
  <% end %>
  <%= h.comments.count %>
  <%= image_tag h.images.thumbnail.url, class: "feed-image" %><br>
  <%= h.caption.text if h.caption %>
<% end %>
</div>
</div>
