<div class="inspiration-title col-md-12">
  <h1>Inspiration</h1>
</div>
<div class="category row">
  <div class="col-md-4 category-images">
    <%= image_tag('babyshower.png', size: '400x400') %>
  </div>

  <div class="col-md-4 category-images">
    <%= image_tag('kidsdecor.png', size: '400x400') %>
  </div>

  <div class="col-md-4 category-images">
    <%= image_tag('kidsfashion.png', size: '400x400') %>
  </div>
</div>

<div class="category-row">
  <div class="col-md-4 category-images">
    <%= image_tag('kidsofinstagram.png', size: '400x400') %>
  </div>

  <div class="col-md-4 category-images">
    <%= image_tag('pregnancyfashion.png', size: '400x400') %>
  </div>

  <div class="col-md-4 category-images">
    <%= image_tag('kidsparty.png', size: '400x400') %>
  </div>
</div>

<div class="category-row">
  <div class="col-md-4 category-images">
    <%= image_tag('kidsrooms.png', size: '400x400') %>
  </div>

  <div class="col-md-4 category-images">
    <%= image_tag('kidsfood.png', size: '400x400') %>
  </div>

  <div class="col-md-4 category-images">
    <%= image_tag('kidsfurniture.png', size: '400x400') %>
  </div>
</div>
