<div class="inspiration-title col-md-12">
  <h1>Inspiration</h1>
</div>
<div class="category row">
  <div class="col-md-4 category-images">
    <%= image_tag('kidsdecor.png', size: '400x400') %>
    <span><h2><%=link_to "kids decor", kidsdecor_path %></h2> <h4>>>></h4> </span>
  </div>

  <div class="col-md-4 category-images">
    <%= image_tag('pregnancyfashion.png', size: '400x400') %>
    <span><h2><%=link_to "babybump style", pregnancyfashion_path %></h2> <h4>>>></h4> </span>
  </div>

  <div class="col-md-4 category-images">
    <%= image_tag('kidsfashion.png', size: '400x400') %>
    <span><h2><%=link_to "kids style", kidsfashion_path %></h2> <h4>>>></h4> </span>

  </div>
</div>

<div class="category-row">
  <div class="col-md-4 category-images">
    <%= image_tag('kidsofinstagram.png', size: '400x400') %>
    <span><h2><%=link_to 'kids "cheese!"', kidsofinstagram_path %></h2> <h4>>>></h4> </span>

  </div>

  <div class="col-md-4 category-images">
    <%= image_tag('kidsrooms.png', size: '400x400') %>
    <span><h2><%=link_to "kids rooms", kidsrooms_path %></h2> <h4>>>></h4> </span>
  </div>

  <div class="col-md-4 category-images">
    <%= image_tag('kidsparty.png', size: '400x400') %>
    <span><h2><%=link_to "kids party", kidsparty_path %></h2> <h4>>>></h4> </span>
  </div>
</div>

<div class="category-row">
  <div class="col-md-4 category-images">
    <%= image_tag('babyshower.png', size: '400x400') %>
    <span><h2><%=link_to "baby shower", babyshower_path %></h2> <h4>>>></h4> </span>
  </div>

  <div class="col-md-4 category-images">
    <%= image_tag('kidsfood.png', size: '400x400') %>
    <span><h2><%=link_to "kids food", kidsfood_path %></h2> <h4>>>></h4> </span>
  </div>

  <div class="col-md-4 category-images">
    <%= image_tag('kidsfurniture.png', size: '400x400') %>
    <span><h2><%=link_to "kids furniture", kidsfurniture_path %></h2> <h4>>>></h4> </span>
  </div>
</div>

<div class="row-bottom col-md-12"></div>
