<!DOCTYPE html>
<html>
<head>
  <title>i heart it</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= cloudinary_js_config %>
  <link href='//fonts.googleapis.com/css?family=Dawning+of+a+New+Day' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Playfair+Display+SC:400,900italic,900,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Lato:400,100' rel='stylesheet' type='text/css'>
</head>
<body>

  <%= render partial: 'layouts/nav' %>


<div class="container">

<%= yield %>

</div>

</body>
</html>
